body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#location-input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#search-btn {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 3px;
}

.weather-result {
    margin-top: 20px;
}

.weather-result p {
    margin: 10px 0;
}
@media (max-width: 960px) {
    /* Your styles for tablets go here */
    .allignBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px
      }
      .widthcard1 {
        width: 100%;
      }
    
      .widthcard2 {
        width: 100%;
      }
  }
  
  /* Mobile styles (500px) */
  @media (max-width: 500px) {
    /* Your styles for mobile devices go here */
    body {
      background-color: lightblue;
    }
  }
